/* Selector Universal */
*{
    padding: 0;
    margin: 0;
    }
    
    /* Selector id, se debe llamar igual que el id que aparece dentro de los div*/
    #Contenedor { /*todo lo que se llame contenedor respecto a los id*/
        /*width: 1920px;*/
        width: 0 auto;
        height: 1000px;
        background-color: white;
        max-width: 0 auto;
    }
    
    #Encabezado {
        height: 5%;
        background-color: #081A4E;
        /*margin: 0.5em auto; /*es relativo al contenedor principal*/
        
    }
    
    #Menu {
        height: 3%;
        background-color:   #081A4E;
        /*margin: 0.2em auto;*/
        text-align: center;
        font-size: small;


        
    }
    
    #Contenido { /*contenido de las secciones, ARTICULOS*/
        height: 70%;
        width: 61%;
        background-color: white;
        /*margin: 0.5em;*/
       /* float: left;*/
       display: inline-block;
       margin-top: 0.5em;
       margin-left: 0.3em;
    }
    
    
    #Pie {
        
        max-width: 100%;
        background-color: #081A4E;
        border-radius: 1em;
       /* margin-left: 0.2em*/
       color: white;
       text-align: center;
    }
    
    /* Selector de Class */
    .texto {
        text-align: justify;
        font-family: Arial;
        font-size: x-large;
    
    
    }
    
    .encabezado_articulo {
        text-align: center;
        background: #333;
        color: white;
        margin: auto 2em;
        font-size: xx-large;
    
    }
    
    .imagen {
        display:block;
        border: 1px solid #ddd;
        margin-left: 37%;
        border-radius: 4px;
        padding: 5px;
        width: 275px;
        
        
    }
    
    /* Selector de Etiqueta HTML */
    ul{
        text-align: center;
    }
    
    li{
        display: inline;
        padding-left: 6px;
        padding-right: 6px;
        text-align: center;
    }
    a{
        font-size: x-large;
        font-family: Arial;
        color: white;
        text-align: center;
    }
    h1{
        font-size: xx-large;
        font-family: Arial;
        color: white;
        text-align: center;
    }
    small{
        text-align: center;
    }